
   .password-div{
    bottom: -12px;
    position: relative;
    right:3px;
     }


     .new-password-input{
       left:150px;
       position:relative;
     }

   .new-password{
     bottom:23px;
     position: relative;
     left: 77px;
     width: 35px;

   }

    ::ng-deep .ant-table-middle .ant-table-thead > tr > th{
      color: #1b1c1c;
      background-color: #FFFFFF;
     }


     ::ng-deep .ant-drawer-header{
      background-color: #414f5a;
      font-size: 20px;

    }


     ::ng-deep .ant-modal-title{
       padding-left: 280px;
     }

     ::ng-deep .ant-drawer-title{
       position: inherit;
       left: 30%;
       color: #FFFFFF;
       font-weight: bold;
       font-family: 'Biryani';
     }

     .input-data {
      width: 150px;
    }

    .add-custo{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      position: absolute;
      left: 120px;
      align-items: center;
      justify-content: space-between;
      top: 100px;
      background-color: #FFFFFF;
      gap: 20px;
    }

   .title-modal{
     position: relative;
     left: -185px;
     font-family: 'Biryani';
     font-size:medium;
     white-space: nowrap;
     font-weight:bold;
   }

    .input-data {
      width: 150px;
    }

    .edit-cell {
      height: 100px;
      display: flex;
      flex-direction: column !important;
    }

    .reloadIcon {
      position: relative;
      background-color: #414f5a;
      width: 10px;
    }


.drawer-title-templ{
  position: relative;
  top:-10px;
  color:antiquewhite;
  right:20px;
}



 ::ng-deep .ant-drawer-header{
  background-color: #1c252e;
  font-size: 20px;
}


/*
::ng-deep .ant-drawer-title{
  position: absolute !important;
  left: 30% !important;
  color: #ffffff !important;
  font-weight: bold !important;
  font-family: "Biryani" !important;
} */
