
@media only screen and (min-width: 1401px){
.account-type-header{
  position: relative;
  left:90px;
}
}

@media only screen and (max-width: 1000px){
.reload-icon{
  position: relative;
  right:20px;
}
}

::ng-deep .ant-table-thead > tr > th {
  white-space: nowrap;
}

::ng-deep nz-select {
  width: 100%;
}

::ng-deep .ant-drawer-header{
  background-color: #1c252e;
  font-size: 20px;
}


::ng-deep .ant-drawer-title{
  position: absolute !important;
  left: 30% !important;
  color: #ffffff !important;
  font-weight: bold !important;
  font-family: "Biryani" !important;
}

::ng-deep .ant-modal-title{
  padding-left: 280px;
}


.reload-icon{
  position: relative;
  right:100px;
}
.edit-cell {
  height: 100px;
}

.edit-input .ant-input {
  width: 100px;
  margin: 0 8px 8px 0;
}

