<nz-table #customersTable [nzBordered]="false" (nzQueryParams)="onQueryParamsChange($event)" [nzPageIndex]="pageIndex"
  [nzFrontPagination]="false" [nzPageSize]="pageSize" [nzData]="customers" [nzTotal]="total"
  (nzPageIndexChange)="getCurrentPage($event)" [nzLoading]="loading">
  <thead>
    <tr>
      <th nzWidth="2px">
        <a nz-dropdown [nzDropdownMenu]="menu">
          <i nz-icon nzType="menu-fold"></i>
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul id="drop" nz-menu nzSelectable>
            <li nz-menu-item (click)="logout()">Logout</li>

            <li *ngIf="!userManagerAuth" nz-menu-item></li>

            <li *ngIf="userManagerAuth" nz-menu-item routerLink="/employees">
              Employees
            </li>
            <li  nz-menu-item routerLink="/rooms">
              Rooms
            </li>
          </ul>
        </nz-dropdown-menu>
      </th>
      <th nzWidth="2%">Id</th>
      <th>
        <div class="account-type-header">Account Type</div>
      </th>
      <th>Bill</th>
      <th>
        <div style="position: relative; left: 38px">Persons</div>
      </th>
      <th nzWidth="20%">Booking</th>
      <th nzWidth="5px">
        <div class="reload-icon">
          <a>
            <i nz-icon nzType="reload" nzTheme="outline" nzOutline="#eb2f96" (click)="ngOnInit(pageIndex)"></i>
          </a>
        </div>
      </th>
      <th nzWidth="1%"></th>
      <th nzWidth="1%"></th>
      <th>Room</th>
    </tr>
  </thead>

  <tbody>
    <ng-template ngFor let-data [ngForOf]="customersTable.data" let-i="index">
      <tr>
        <td></td>

        <td id="table-data">
          {{ data.id }}
        </td>

        <td id="table-data">

          <ng-container *ngIf="!data.edit; else accountTypeInputTempl">
            <div class="account-type-header">{{ data.accountType }}</div>
          </ng-container>

          <ng-template #accountTypeInputTempl>
            <nz-input-group>
              <div class="edit-input">
                <input type="text" [formControl]="formAccountType.get(data.id)" placeholder="bill" nz-input
                  [ngModel]="editMap.get(data.id).accountType" nzSize="large"
                  (ngModelChange)="setMapAccountType(data.id, $event)" />
                <div id="errors-div"  *ngIf="formAccountType.get(data.id).invalid">
                  minimum 4
                </div>
              </div>
            </nz-input-group>
          </ng-template>
        </td>

        <td>
          <div id="table-data">
            <ng-container *ngIf="!data.edit; else billInputTempl">
              {{ data.bill }}
            </ng-container>
          </div>
          <ng-template #billInputTempl>
            <nz-input-group>
              <div class="edit-input">
                <input type="text" [formControl]="formBill.get(data.id)"
                       placeholder="bill" nz-input
                       [ngModel]="editMap.get(data.id).bill" nzSize="large"
                       (ngModelChange)="setMapBill(data.id, $event)" />
                <div   id="errors-div"  *ngIf="formBill.get(data.id).invalid">
                  minimum 1
                </div>
              </div>
            </nz-input-group>
          </ng-template>
        </td>

        <td nzShowExpand [(nzExpand)]="data.showPersons">
          <nz-button-group>
            <button nz-button>Persons</button>
            <button nz-button nz-dropdown [nzDropdownMenu]="menu1" nzPlacement="bottomRight">
              <i nz-icon nzType="ellipsis"></i>
            </button>
          </nz-button-group>
          <nz-dropdown-menu #menu1="nzDropdownMenu">
            <div *ngFor="let person of data.persons">

              <ul nz-menu>
                <li nz-menu-item>
                  {{ person.firstName }} {{ person.lastName }}
                  {{ person.email }}
                </li>
              </ul>

            </div>
          </nz-dropdown-menu>
        </td>

        <td>

             <app-edit-booking [booking]="data.booking"  [roomId]="data.room.id"    (reloadData)="getPageData($event)" ></app-edit-booking>

        </td>

        <!-- reload button-->
        <td></td>

        <!-- edit,save  customer  -->
        <td>
          <ng-container *ngIf="!data.edit; else editTempl">
            <div>
              <a (click)="startEditingCustomer(data.id)" id="edit-btn"  nz-button
                nzType="primary">Edit</a>
            </div>
          </ng-container>
          <ng-template #editTempl>
            <div nz-col nzSpan="50" class="edit-cell">
              <ng-container *ngIf="
                  formBill.get(data.id).invalid ||
                    formAccountType.get(data.id).invalid;
                  else saveButtonTempl
                ">
                <button id="GhostButton" nz-button nzType="primary" disabled  >
                  Save
                </button>
              </ng-container>
              <ng-template #saveButtonTempl>
                <button id="save-btn" nz-button nzType="primary" (click)="updateCustomer(data.id)"
                  >
                  Save
                </button>
              </ng-template>
              <button nz-popconfirm nzPopconfirmTitle="Sure to cancel?" (nzOnConfirm)="cancelEditCustomer(data.id)"
                id="cancel-button" nz-button>
                Cancel
              </button>
            </div>
          </ng-template>
        </td>

        <!-- delete  -->
        <td>
          <div nz-col nzSpan="30">
            <button nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteCustomer(data.id)" nz-button
              id="delete-button">
              Delete
            </button>
          </div>
        </td>
        <td nzShowExpand [(nzExpand)]="data.expand"></td>
      </tr>

      <!-- Inner Table Persons -->

      <tr [nzExpand]="data.showPersons">

          <app-persons   [customerId]="data.id"  [persons]="data.persons"      (reloadData)="getPageData($event)">    </app-persons>
      </tr>

      <!-- Rooms Inner Table -->
      <tr [nzExpand]="data.expand">
        <ng-container *ngIf="data.expand">
           <app-replace-room [customer]="data"  (reloadData)="getPageData($event)"  ></app-replace-room>
       </ng-container>

      </tr>
    </ng-template>
  </tbody>
</nz-table>

<app-customer-create (reloadData)="getPageData($event)"></app-customer-create>


