.login-form {
    max-width: 300px;
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }

  .loginCenter{
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }