
    .booking-dates-container{
      display: flex;
      flex-direction: column;
      position: absolute;
      left:30%;
      top:40%;
      justify-content: space-between;
      height: 150px;
   }


@media only screen and (max-width: 701px){
    .booking-dates-container{
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 20%;
        top: 45%;
        justify-content: space-between;
        height: 150px;
     }

}
